body{
    margin: 1rem;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-height: 100vh;
    
}
.app{
    display: flex;
    flex-direction: row;
}
.container{
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.side1{
    width: 25%;
    max-height: 100vh;
    background: linear-gradient(180deg, rgba(208,207,230,1) 0%, rgba(214,214,214,1) 7%, rgba(30,143,242,1) 42%);
    padding-bottom: 4rem;
    border-radius: 2rem;
}
.side1 .loc-date{
    display:flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 16px;
    font-weight:500;
}
.side1 .sun-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.side1 .sun-icon .time-text{
    font-family: "roboto" sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;

}
.sun-icon img{
    width: 200px;
    height: 150px;
}
.text-sun-big{
    font-size: 35px;
    font-weight: 500;
    color: #FA9E02;
}

.today-data{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
     padding-left: 3rem;
     padding-right: 3rem;
     padding-top: 2rem;
     padding-bottom: 2rem;
     border-radius: 1rem;
    
   
}

.rain-chance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: white;
    border-radius: 1rem;
    margin: 0.3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
  
}
.weather-description{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.rain-icon-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
   
}
.pressure{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
   
}
.humidity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
   
}
.rain-icon{
    width: 1.5rem;
    margin-right: 0.5rem;
   
}
.humidity-icon{
    width: 1.5rem;
    margin-right: 0.5rem;
 
}
.pressure-icon{
    width: 1.5rem;
    margin-right: 0.5rem;
  
}

.p-text{
  font-family: "roboto" sans-serif;
    font-size: 16px;
    font-weight: 500;   
    color: black;
}
.loc-title{
    font-size: 16px;
    font-weight: bold;
    color: white;
}
/* ------------------------------------------ */
.main-side
{
    width: 75%;
    height: 100vh;
   
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    margin-left: 1rem;
}

.input-search{
    width: 40rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
    border-color: #1e8ff2;
    padding: 0.7rem;
    outline: none;
    color:black;

}
.search-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.search-input img{
      margin-left: 4rem;
      cursor: pointer;
}
.toggle-button {
            background-color:#1E8FF2;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;  
            border-radius: 0.3rem;
            
}
.graph{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
}
.line-graph{
    width: 443px;
    height: 350px;
    color: blue;
   
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F1F1F1;
    padding: 2rem;
    border-radius: 1rem;
    padding-top: 0.5rem;
}
.bar-graph{
    width: 648px;
    height: 327px;
   
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F1F1F1;
    padding: 2.5rem;
    border-radius: 1rem;
}
.line-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-size: 20px;
    margin-left: 3rem;
    margin-top: 2rem;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
   background: linear-gradient(180deg, rgba(208,207,230,1) 0%, rgba(214,214,214,1) 7%, rgba(30,143,242,1) 42%);
    width: 900px;
    height: 250px;
    margin-left: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    color: white;
     padding-bottom: 2rem;
    
}
.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-title .day .date{
    color: white;
}
.card-details{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    gap: 0;
}
.sun-text{
    font-size: 25px;
    font-weight: 500;
    color: #FA9E02;
}
.card-details img{
    width: 104px;
    height: 93px;
}
.temperature{
    font-size: 20px;
    color: white;
    font-weight: bold;
 
}
.day{
    color: white;
    font-weight: bold;
}
.date{
    color: white;
    font-weight: bold;
}
.location-btn{
    
}

@media (max-width:768px) {
  
     .app{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
       
     }
     .side1{
        width: 100%;
      
        
     }
     .input-search{
         width: 15rem;
        
        border-radius: 0.5rem;
        border-color: #1e8ff2;
        padding: 0.7rem;
        outline: none;
        color:black;

     }
     .cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
     }
     
     
     .card{
       
        width: 600px;
        height: 250px;
        margin-left: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        color: white;
        padding-bottom: 2rem;
     }
     .rain-chance{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        background-color: white;
        border-radius: 1rem;
        margin: 0.3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 80%;
        margin-left: 2rem;
     }  
     .graph{
        max-width: 100%;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
     }

     .line-graph{
        width: 600px;
     }
     .bar-graph{
        width: 600px;
     }
     .main-side{
        width: 100%;
        position: relative;
     }
    }

    @media (min-width:775px){
           .side1{
            width: 40%;
           }
    }

